:root{
    --primary: #00B98E;
    --secondary: #ff6922;
    --light: #Effdf5;
    --dark: #0e2e50;
}
body {
    background-color: #fff;
}
.btn {
    transition: 0.5s;

}
.btn.btn-primary,
.btn.btn-secondary
{
    color:#ffffff
}

.header-carousel .owl-nav{
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
   
}
#carousel.header-carousel .owl-nav .owl-prev,
#carousel.header-carousel .owl-nav .owl-next{
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgb(19, 230, 194);
    border-radius: 40px;
    font-size: 20px;
    transition: 0.5s;
   
    
}

.icon{
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffffff !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}

